.attributeChoice{
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 1px;
	margin: -2px -2px 0 -2px;
	display: inline-block;
	position: relative;
}

.hovering.attributeChoice{
	border-color: #7788AA;
	margin-bottom: -4px;
	background: white;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background: white;
}

@sprite .buttonIcon{
	gwt-image: "gwtImages.icons.addIconDeactivated";
	display: block;
	height: 20px;
	width: 20px;
	cursor: pointer;
}
@sprite .hovering .buttonIcon{
	gwt-image: "gwtImages.icons.addIconActive";
}

.frame{
	display: none;
	border: 1px solid #7788AA;
	border-radius: 4px;
	border-top-right-radius: 0px;
	padding: 0px;
	position: absolute;
	top: 21px;
	right: -1px;
	background: white;
	z-index: 10;
	box-shadow: 2px 2px 2px #666666;
}
.frame .bridge{
	position: absolute;
	width:22px;
	height:3px;
	top:-1px;
	right:0px;
	background: white;
}
.hovering .frame{
	display:block;
}
.choices {
	background: white;
}
.choice{
	padding: 0 6px;
	margin: 3px;
	border: 1px solid #7788AA;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 3px;
	font-size: 12px;
	line-height: 18px;
	color: #7788AA;
	background-color: #EEEEEE;
	max-width: 200px;
	cursor: pointer;
}


/** Browser specific styles. */
@if user.agent gecko1_8 gecko{
	/** firefox **/
	.choice{
		background-image: literal("-moz-linear-gradient(")value("form.PARENT_GRADIENT") literal(")");
	}
} @elif user.agent safari {
	/** chrome, safari etc. **/
	.choice{
		background-image: literal("-webkit-linear-gradient(")value("form.PARENT_GRADIENT") literal(")");
	}
} @elif user.agent opera {
	/** opera */
	.choice{
		background-image: literal("-o-linear-gradient(")value("form.PARENT_GRADIENT") literal(")");
	}
} @elif user.agent ie9 {
	/** ie9 */
	.choice{
		background-image: value("form.PARENT_GRADIENT_IE9");
	}
}

.choice:hover{
	color: #445577;
	border-color: #445577;
}
.hovering .displayAbove{}