.attribute, .attributeValue{}

.entity .entity{
	margin-left:20px;
}

.attributeValue .label{
	margin:4px 0 2px;
	font-weight: bold;
}

.entity .attributeValue .label span{
	font-size: 16px;
}

.entity .entity .attributeValue .label span{
	font-size: 14px;
}

.entity .entity .entity .attributeValue .label span{
	font-size: 13px;
}

.entity .entity .entity .entity .attributeValue .label span{
	font-size: 12px;
}

.attributeValue.highlighting {
	background: #eeeeee;
}

.attributeValue.focused {
	background: #cccccc;
}

.attributeValue.focused.highlighting {
	background: #bbbbbb;
}

@if user.agent gecko1_8 gecko{
	/** firefox **/
	.entity .attributeValue{
		-moz-border-radius: 4px;
	}

} @elif user.agent safari {
	/** chrome, safari etc. **/
	.entity .attributeValue{
		-webkit-border-radius: 4px;
	}

} @elif user.agent opera ie9 {
	/** opera, ie9 */
	.entity .attributeValue{
		border-radius: 4px;
	}

}

.entity .attributeValue{
	padding: 2px;
}

.attributeValue .label span, .attributeValue .label div{
	font-weight:bold;
}

@if user.agent ie6 {
	.button{
		display: inline;
		cursor: pointer;
	}
} @else {
	.button{
		display: inline-block;
		cursor: pointer;
	}
}


.widgetHolder .widget{
	margin: 0 0 4px 0;
	background: #ffffff;
}

.widgetHolder .widget.input{
	border: 2px solid #cccccc;
	background: #ffffff;
	padding: 2px;
	min-height: 14px;
}

.widgetHolder .input:hover{
	background: #ffffff;
}

.input:hover{
	background: #dddddd;
}