@external entity, label, widgetHolder;

.entity{
	margin-left:20px;
}

.label{
	font-weight: bold;
}

.widgetHolder{}

.input{
	background: #dddddd;
}

.input:hover{
	background: #bbbbbb;
}